<!-- ESCAP header container -->

<div class='container escap-header'>
  <br>
  <div class="row">
    <div class="col-xs-12">
      <div class="col-xs-4"><a href="//www.unescap.org/" target="_blank"><img src='src/images/escap/logo.png' width="900" height="108" /></a></div>
      <!--<div class="col-xs-6 pull-right">
        <a href="//www.unescap.org/resources/statistical-yearbook-asia-and-pacific-2015" target="_blank">
          <img src="src/images/escap/yearbook.png" class="thumbnail" title="Year Book" height="100" width="80" style="display: inline-block;padding-top:10px;padding-right:10;"/>
        </a>
        &nbsp;
        <a href="//escap-fenix-01.escap.un.org/sdg/" target="_blank">
          <img src="src/images/escap/sdg_portal.png" class="thumbnail" title="SDG Portal" height="100" width="170" style="display: inline-block; padding-top:10px;padding-right:10;"/>
        </a>
        &nbsp;
        <a href="#" target="_blank">
          <img src="src/images/escap/sdg_report.png" class="thumbnail" title="SDG Report" height="100" width="100" style="display: inline-block; padding-top:10px;padding-right:10;"/>
        </a>
        &nbsp;
        <a href="//asiapacificenergy.org/" target="_blank">
          <img src="src/images/escap/apef.png" class="thumbnail" title="APEF Portal" height="100" width="150" style="display: inline-block; padding-top:10px;"/>
        </a>
      </div>-->
    </div>
  </div>
</div>

<!-- Top menu container -->
<div class="container topmenu">
    <div class="row">
        <div class="col-xs-12 topmenu-buttons-holder">
            <div id="top-menu-container"></div>
        </div>
    </div>
  <br>
</div>

<!-- Breadcrumb container
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="breadcrumb-container"></div>
        </div>
    </div>
</div>


<div class="container data-mng-secondary-menu-container">
    <div id="data-mng-menu-container"></div>
</div>-->

<div class="container" id="main-container"></div>

<!-- Page Footer -->
<footer class="container fao-footer">
<div class="row">
        <div class="col-md-12">
          <div class="col-md-4 pull-left">
            ESCAP Statistical Online Database<br>
            Version 1.0
          </div>
            <div class="pull-right">
                <a href="/contact-us/terms/fr/">
                    Powered by Fenix
                </a>
            </div>
        </div>
    </div>

</footer>
</div>
