<div>

    <section data-dashboard="FoodGroups">

        <div class="row">

            <div class="col-xs-12">
                <h1>Statistics related to : </h1>

                <div id="item-1"></div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <h1>Percentage of energy deriving from : </h1>

                <div id="item-2"></div>
            </div>

        </div>

       <!-- <div class="row">

            <div class="col-xs-12">
                <h1>Statistics related to : </h1>

                <div id="item-3"></div>
            </div>

        </div>-->

    </section>

</div>