<div>

    <section data-dashboard="FoodGroups">

        <div class="row">

            <div class="col-xs-12">
                <h1>Resume</h1>

                <div id="item-1"></div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <h1>Pie 1</h1>

                <div id="item-2"></div>
            </div>

        </div>

        <div class="row">

            <div class="col-xs-12">
                <h1>Pie 2</h1>

                <div id="item-3"></div>
            </div>

        </div>

    </section>

</div>