<div>

    <section data-dashboard="FoodGroups">

        <div class="row">

            <div class="col-xs-12">
                <h1>Statistics related to specific food group : </h1>



                <div id="item-1"></div>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-12">

                <h1>Percentage of energy deriving from specific food group: </h1>
                <button data-dashboard-id ="item-4" class="fx-dashboard-process btn btn-default">Export</button>


                <div id="item-2"></div>
            </div>

        </div>


    </section>

</div>