<h1>{{title}}</h1>

<hr>

<div class="row">

    <div class="row-height">

        <div class="col-md-4 col-md-height lat-men">

            <div class="lateral-menu-container">

                <div id="lateral-menu"></div>

            </div>


        </div>

        <div class="col-md-8 col-md-height col-top">

            <div class="row">
                <div class="col-xs-12">
                    <div id="filter-container" class="filter-container"></div>
                    <button id="filter-submit-btn" class="btn btn-default"> FILTER </button>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div id="dashboard-content"></div>
                    </div>
                </div>


            </div>

        </div>

    </div>
