<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/sdg16.png"  class="thumbnail" alt="demographics"  width="100" height="100"/></div>
    <div class="col-md-11"><h1 style="font-weight: bold; text-transform: none;">&emsp;{{title}}</h1></div>
  </div>
</div>
<div class="col-md-3">
  <h2 style="font-weight: bold; text-transform: none;">Targets</h2>

<div class="panel-group" id="accordion">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-transform: none;">
       Violence and Related Deaths<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item">Victims of Intentional Homicide</li>
        <li class="list-group-item">Conflict-related Deaths</li>
        <li class="list-group-item">Physical, Psychological or Sexual Violence</li>
        <li class="list-group-item">Safe Walking Alone</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-transform: none;">
       Violence and Torture Against Children<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Physical Punishment/Psychological Aggression</li>
        <li class="list-group-item">Victims of Human Trafficking</li>
        <li class="list-group-item">Experince in Sexual Violence by Age 18</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-transform: none;">
       Rule of Law<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">To Competent Authorities/Conflict Resolution Mechanisms </li>
        <li class="list-group-item">Unsentenced Detainees</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="text-transform: none;">
       Combat Organized Crime<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Inward and Outward Illicit Financial Flows</li>
        <li class="list-group-item">Seized Small Arms and Light Weapons</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="text-transform: none;">
       Reduce Corruption and  <br>Bribery<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Persons who had Bribe Once</li>
        <li class="list-group-item">Businesses who had Bribe Once</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="text-transform: none;">
       Effective, Accountable and Transparent Institutions<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse6" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Primary Government Expenditures</li>
        <li class="list-group-item">Experience of Public Services</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="text-transform: none;">
       Decision-making<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse7" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Positions Public Institutions</li>
        <li class="list-group-item">Inclusive and Responsive Decision Making</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="text-transform: none;">
       Institutions of Global <br> Governance<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse8" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Members and Voting Rights</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" style="text-transform: none;">
       Legal Identity for All<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse9" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Registered Births</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" style="text-transform: none;">
       Public Access to Information<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse10" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Number of Verified Cases</li>
        <li class="list-group-item">Constitutional, Statutory and/or Policy</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse11" style="text-transform: none;">
       Building Capacity<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse11" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Independent National Human Rights Institutions</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse12" style="text-transform: none;">
       Non-discriminatory Laws and Policies<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse12" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Personally Felt Discriminated Against or Harassed</li>
      </ul>
    </div>
 </div>
</div>
<br><br><br><br>
</div>

<div class="col-md-9">
  <h2 style="font-weight: bold; text-transform: none;">Extensive Information </h2>
  <div class="container-fluid">
    <h3 style="font-weight: bold; text-transform: none;">Goal1: {{title_longName}}</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="col-md-1">Target ID</th>
          <th class="col-md-7">Descriptive Target Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each targets.target_list}}
        <tr>
          <td>{{ID}}</td>
          <td>{{Name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
