<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/sdg14.png"  class="thumbnail" alt="demographics"  width="100" height="100"/></div>
    <div class="col-md-11"><h1 style="font-weight: bold; text-transform: none;">&emsp;{{title}}</h1></div>
  </div>
</div>
<div class="col-md-3">
  <h2 style="font-weight: bold; text-transform: none;">Targets</h2>

<div class="panel-group" id="accordion">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-transform: none;">
       Marine Pollution of All Kinds<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item">ICEP and Floating Plastic Debris Density</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-transform: none;">
       Protect Marine and Coastal Ecosystems<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">National Exclusive Economic Zones</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-transform: none;">
       Impacts of Ocean <br>Acidification<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Average Marine Acidity (pH)</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="text-transform: none;">
       Regulate Harvesting<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Fish Stocks within Biologically Sustainable Levels</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="text-transform: none;">
       Coastal and Marine Areas Conservation<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Coverage of Protected Areas </li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="text-transform: none;">
       Fisheries Subsidies<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse6" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">International Instruments</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="text-transform: none;">
       Sustainable Use of Marine Resources<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse7" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Sustainable Fisheries %of GDP</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="text-transform: none;">
       Scientific Knowledge/Research Capacity<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse8" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Total Research Budget Allocated</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" style="text-transform: none;">
       Marine Resources and <br>Markets<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse9" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Access Rights for Small-scale Fisheries</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" style="text-transform: none;">
       Conservation and Sustainable Use of Oceans<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse10" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Legal, Policy and Institutional Frameworks</li>
      </ul>
    </div>
 </div>
</div>
<br><br><br><br>
</div>

<div class="col-md-9">
  <h2 style="font-weight: bold; text-transform: none;">Extensive Information </h2>
  <div class="container-fluid">
    <h3 style="font-weight: bold; text-transform: none;">Goal1: {{title_longName}}</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="col-md-1">Target ID</th>
          <th class="col-md-7">Descriptive Target Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each targets.target_list}}
        <tr>
          <td>{{ID}}</td>
          <td>{{Name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
