<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/sdg10.png"  class="thumbnail" alt="demographics"  width="100" height="100"/></div>
    <div class="col-md-11"><h1 style="font-weight: bold; text-transform: none;">&emsp;{{title}}</h1></div>
  </div>
</div>
<div class="col-md-3">
  <h2 style="font-weight: bold; text-transform: none;">Targets</h2>

<div class="panel-group" id="accordion">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-transform: none;">
       Income Growth<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item">Household Expenditure Growth Rate</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-transform: none;">
       Empowerment<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Living Below 50% Median Income</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-transform: none;">
       Legislation, Policies and <br>Action<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Reported Discrimination/Harassment</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="text-transform: none;">
       Fiscal, Wage and Social Protection Policies<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Labour Share of GDP</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="text-transform: none;">
       Regulation and Monitoring <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Financial Soundness Indicators</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="text-transform: none;">
       International Economic and Financial Institutions<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse6" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Members and Voting Rights</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="text-transform: none;">
       Migration and Mobility of <br>People<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse7" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Recruitment Cost Born by Employee</li>
        <li class="list-group-item">Well-managed Migration Policies</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="text-transform: none;">
       Trade Organization <br> Agreements<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse8" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Tariff Lines Applied to Imports</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse9" style="text-transform: none;">
       ODA and Financial Flows<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse9" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Resources Flows for Development</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse10" style="text-transform: none;">
       Migrant Remittances<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse10" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Remittance Costs</li>
      </ul>
    </div>
 </div>
</div>
<br><br><br><br>
</div>

<div class="col-md-9">
  <h2 style="font-weight: bold; text-transform: none;">Extensive Information </h2>
  <div class="container-fluid">
    <h3 style="font-weight: bold; text-transform: none;">Goal1: {{title_longName}}</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="col-md-1">Target ID</th>
          <th class="col-md-7">Descriptive Target Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each targets.target_list}}
        <tr>
          <td>{{ID}}</td>
          <td>{{Name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
