<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/sdg9.png"  class="thumbnail" alt="demographics"  width="100" height="100"/></div>
    <div class="col-md-11"><h1 style="font-weight: bold; text-transform: none;">&emsp;{{title}}</h1></div>
  </div>
</div>
<div class="col-md-3">
  <h2 style="font-weight: bold; text-transform: none;">Targets</h2>

<div class="panel-group" id="accordion">
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse1" style="text-transform: none;">
       Quality, Reliable, Sustainable and Resilient Infrastructure<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse1" class="panel-collapse collapse in">
      <ul class="list-group">
        <li class="list-group-item">Rural Population with Access to All-season Road</li>
        <li class="list-group-item">Passenger and Freight Volumes</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse2" style="text-transform: none;">
       Inclusive and Sustainable Industrialization<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse2" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Value added Manufacturing</li>
        <li class="list-group-item">Manufacturing Employment</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" style="text-transform: none;">
       Small-scale Industries and Other Enterprises<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse3" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Share of Small-scale Industries</li>
        <li class="list-group-item">Small-scale Industries with a Loan/Line of Credit</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title" >
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse4" style="text-transform: none;">
       Clean and Environmentally Sound Technologies<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse4" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">CO2 Emission Per Unit</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse5" style="text-transform: none;">
       Research and Development Spending <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse5" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">R&amp;D Expenditure</li>
        <li class="list-group-item">Full-time Researchers </li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse6" style="text-transform: none;">
       Sustainable and Resilient Infrastructure Development  <i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse6" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Official International Support to Infrastructure</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse7" style="text-transform: none;">
       Domestic Technology Development<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse7" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Medium and High-tech Industry</li>
      </ul>
    </div>
 </div>
 <div class="panel panel-default">
   <div class="panel-heading">
     <h4 class="panel-title">
       <a data-toggle="collapse" data-parent="#accordion" href="#collapse8" style="text-transform: none;">
       Access to ICT<i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i></a>
     </h4>
   </div>
   <div id="collapse8" class="panel-collapse collapse">
      <ul class="list-group">
        <li class="list-group-item">Mobile Network Covergae</li>
      </ul>
    </div>
 </div>
</div>
<br><br><br><br>
</div>

<div class="col-md-9">
  <h2 style="font-weight: bold; text-transform: none;">Extensive Information </h2>
  <div class="container-fluid">
    <h3 style="font-weight: bold; text-transform: none;">Goal1: {{title_longName}}</h3>
    <table class="table table-stripped">
      <thead>
        <tr>
          <th class="col-md-1">Target ID</th>
          <th class="col-md-7">Descriptive Target Name</th>
        </tr>
      </thead>
      <tbody>
        {{#each targets.target_list}}
        <tr>
          <td>{{ID}}</td>
          <td>{{Name}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
