<h3>SURVE YOUR STATISTICAL DATA NEED BY EXPLORING SUSTAINABLE DEVELOPMENT GOALS</h3>
<!-- Domani Selector -->

<div class="row">
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal1">
        <img  class="img-responsive" src="src/images/escap/sdg1.png" alt="Goal1"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal2">
        <img  class="img-responsive" src="src/images/escap/sdg2.png" alt="Goal2"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal3">
        <img  class="img-responsive" src="src/images/escap/sdg3.png" alt="Goal3"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal4">
        <img  class="img-responsive" src="src/images/escap/sdg4.png" alt="Goal4"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal5">
        <img  class="img-responsive" src="src/images/escap/sdg5.png" alt="Goal5"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal6">
        <img  class="img-responsive" src="src/images/escap/sdg6.png" alt="Goal6"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal7">
        <img  class="img-responsive" src="src/images/escap/sdg7.png" alt="Goal7"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal8">
        <img  class="img-responsive" src="src/images/escap/sdg8.png" alt="Goal8"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal9">
        <img  class="img-responsive" src="src/images/escap/sdg9.png" alt="Goal9"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal10">
        <img  class="img-responsive" src="src/images/escap/sdg10.png" alt="Goal10"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal11">
        <img  class="img-responsive" src="src/images/escap/sdg11.png" alt="Goal11"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal12">
        <img  class="img-responsive" src="src/images/escap/sdg12.png" alt="Goal12"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal13">
        <img  class="img-responsive" src="src/images/escap/sdg13.png" alt="Goal13"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal14">
        <img  class="img-responsive" src="src/images/escap/sdg14.png" alt="Goal14"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal15">
        <img  class="img-responsive" src="src/images/escap/sdg15.png" alt="Goal15"/>
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal16">
        <img  class="img-responsive" src="src/images/escap/sdg16.png" alt="Goal16" />
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#goal17">
        <img  class="img-responsive" src="src/images/escap/sdg17.png" alt="Goal17" />
      </a>
    </div>
  </div>
  <div class="col-md-2">
    <div class=" card card-block">
      <a href="#home">
        <img  class="img-responsive" src="src/images/escap/nonsdg.png" alt="NonSDG" />
      </a>
    </div>
  </div>
</div>
