<div class="col-md-12">
<div class="row">
  <div class="col-md-9"><h1>Methods and Definitions</h1></div>
</div>
<div class="row">
    <div class="card-columns">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;">ESCAP Statistical Database</h4>
            <p>
              The ESCAP Statistical Database provides a regional perspective on development
              issues in Asia and the Pacific. The database, covering the 58 regional ESCAP
              Member States and Associate Members, contains over 350 statistical indicators
              disaggregated into 1200 data series on a wide range of topics organized into
              16 domains: Demographic trends, Health, Education, Poverty, Gender,
              Energy and Natural Resources, Disasters, Environment, GDP, Labour, Trade,
              Financing, Science, Technology and Innovation, Connectivity, Governance
              and Insecurity
              <br><br>
              The ESCAP Statistical Database is being compiled and maintained by
              ESCAP Statistics Division.
              <br><br>
              <a class="btn btn-info" href="src/js/templates/methodDefinition/Data/Indicator_list_1Dec2016.xlsx" target="_blank">List of Indicators</a>
              <br><br>
            </p>
           </div>
        </div>
        <div class="card">
          <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;">Definitions</h4>
            <table class="table table-condensed">
              <tr>
                <td><img src="src/images/escap/10.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Demographic Trends</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/20.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Health</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/30.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Education</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/40.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Poverty</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/50.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Gender</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/60.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Energy and Natural Resources</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/70.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Disasters</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/80.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Environment</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/90.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">GDP</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/100.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Labour</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/110.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Trade</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/120.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Financing</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/130.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Science, Technology and Innovation</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/140.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Connectivity</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/150.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Governance</td>
              </tr>
              <tr>
                <td><img src="src/images/escap/160.png" width="40" height="40"></td>
                <td style="vertical-align: middle;"><a href="src/js/templates/methodDefinition/Data/Metadata_DemographicTrends.pdf" target="_blank">Insecurity</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-text">
               <h4 class="card-title" style="font-size: 20px;">Source of data</h4>
               <p>
                 Data are being compiled from United Nations agencies and programmes and
                 other international sources of official statistics. In selecting data sources,
                 priority is given to primary sources of data in order to preserve timeliness
                 of the data and minimize the loss of metadata which might occur when using
                 secondary (re-disseminated) statistical information.
                 <br><br>
                 ESCAP calculate regional aggregates presented in the database.
                 For that purpose, data from all countries are downloaded and processed
                 through ESCAP statistical information system in order to calculate
                 regional aggregates, including aggregates for major of the world
                 outside of the Asia-Pacific region.
                 <br><br>
                 Information on specific data source for each indicator is
                 provided in the metadata information sheet accessible
                 through the “metadata” button in the indicator selection menus.
                 <br><br>
                 <a  class="btn btn-info" href="src/js/templates/methodDefinition/Data/Data_Sources.xlsx" target="_blank">List of data sources</a>
                <br><br>
               </p>
           </div>
        </div>
        <div class="card">
          <div class="card-text">
               <h4 class="card-title" style="font-size: 20px;">Aggregation Methods</h4>
               <p>
                 For some indicators, some values are missing from country time series.
                Aggregates should therefore be treated as approximations of actual, unknown
                totals or averages.
                <br><br>
                Aggregates are calculated for the above defined country groupings,
                typically as sum or as weighted average provided that enough observed
                data are available at the country level. The mechanism to test the
                availability of data is set as follow:
                <ul class="list-unstyled">
                  <li>Social and environmental indicator : for any given year for which an aggregate is calculated, countries
                    with observed values need to represent 2/3 of the population of the group</li>
                  <li>Economic indicators : countries with observed values need to
                    represent 2/3 of the total GDP of the group.</li>
                </ul>
                Applying the above method however, might still result in irregular aggregate
                values over time as some country data might be missing for some years,
                even if not breaking the “2/3 rule”.  In those cases, some imputation methods
                are applied to fill in missing data points. The following imputation methodology
                is applied:
                <ul class="list-unstyled">
                  <li>If values are available for both an earlier and a later year than the year for which the aggregate is calculated,
                    the missing value has been imputed using linear interpolation.</li>
                  <li>A missing country value for a year preceding the earliest year for which a value is available has been imputed using
                    the value from the earliest year. Similarly, a missing country value for a year
                    following the latest year for which a value is available has been imputed by
                    using the value of the latest year. </li>
                  <li>For countries with only one data point for the whole period, this value
                    has been used for all missing years. No information is used from other
                    countries for imputing the missing values. </li>
                </ul>
                Imputed values are used only in calculating aggregates and in calculating
                derived indicators when data are missing for some years for some countries
                for the underlying series used in the calculation. Imputed values are not
                made available in the database.
                <br><br>
                If imputation has been used to derive aggregates, it is provided in the metadata
                information sheet accessible through the “metadata” button in the indicator
                selection menus.
               </p>
               <br><br>
           </div>
        </div>
        <div class="card">
          <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;">Feedback</h4>
            <p>
              We value your feedback. Please email us at <strong>stat.unescap@un.org</strong> for
              comments on the ESCAP Statistical Database.
            </p>
          </div>
          <br><br>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-text">
               <h4 class="card-title" style="font-size: 20px;">Countries/Areas and country groupings</h4>
               <p>
                 Country names and groupings “Asia and the Pacific” in the ESCAP Statistical
                 database refer to the 58 regional members and associate members of the
                 Economic and Social Commission for Asia and the Pacific. The 58 regional
                 members and associate members are referred to as “countries” throughout
                 the database even though some territories which are not countries are included.
                 Some countries referred to by a shortened version of their official name in tables,
                 charts, and selection menus, as indicated in brackets in the listing below.
                 <br><br>
                 <strong>Asia-Pacific subregions</strong>
                 <br>
                 By geographic subregion, the countries and areas of Asia and the Pacific are:
                 <ul class="list-unstyled">
                   <li><strong>East and North-East Asia (ENEA): </strong>China, Democratic People’s Republic of Korea (DPR Korea),
                      Hong Kong, China, Japan, Macao (China), Mongolia, Republic of Korea</li>
                  <li><strong>South-East Asia (SEA): </strong>Brunei Darussalam, Cambodia, Indonesia,
                     Lao People’s Democratic Republic (Lao PDR), Malaysia, Myanmar, Philippines,
                    Singapore, Thailand, Timor-Leste, Viet Nam</li>
                  <li><strong>South and South-West Asia (SSWA): </strong>Afghanistan, Bangladesh, Bhutan,
                     India, Iran (Islamic Republic of)(Iran (Islamic Rep. of)), Maldives, Nepal, Pakistan, Sri Lanka, Turkey</li>
                  <li><strong>North and Central Asia (NCA): </strong>Armenia, Azerbaijan, Georgia,
                     Kazakhstan, Kyrgyzstan, Russian Federation, Tajikistan, Turkmenistan, Uzbekistan </li>
                  <li><strong>Pacific: </strong>American Samoa, Australia, Cook Islands, Fiji,
                     French Polynesia, Guam, Kiribati, Marshall Islands, Micronesia (Federated States of ) (Micronesia (F.S.)),
                     Nauru, New Caledonia, New Zealand, Niue, Northern Mariana Islands, Palau,
                     Papua New Guinea, Samoa, Solomon Islands, Tonga, Tuvalu, Vanuatu</li>
                 </ul>
                 <strong>Economic groupings</strong>
                 <br>
                 The classification of countries into income groups is from the World Bank.
                 The World Bank divides countries according to their 2015 gross national income
                 (GNI) per capita, calculated using the World Bank Atlas method.
                 <br>
                 Group classifications are:  low income ($1, 025 or less),
                  lower-middle income ($1,026-4,035), upper-middle income ($4,036-12,475)
                   and high income ($12,476 or more).
                <ul class="list-unstyled">
                  <li><strong>Low-income economies: </strong>Afghanistan, DPR Korea, Nepal</li>
                  <li><strong>Lower middle-income economies:</strong> Armenia, Bangladesh, Bhutan, Cambodia,
                     India, Indonesia, Kiribati, Kyrgyzstan, Lao PDR, Micronesia (F.S.), Mongolia,
                      Myanmar, Pakistan, Papua New Guinea, Philippines, Samoa, Solomon Islands, Sri Lanka,
                      Tajikistan, Timor-Leste, Tonga, Uzbekistan, Vanuatu, Viet Nam</li>
                  <li><strong>Upper middle-income economies: </strong>American Samoa, Azerbaijan, China, Fiji,
                     Georgia, Iran(Islamic Rep. of), Kazakhstan, Malaysia, Maldives,
                      Marshall Islands, Palau, Russian Federation, Thailand, Turkey, Turkmenistan, Tuvalu</li>
                  <li><strong>High-income economies: </strong>Australia, Brunei Darussalam,
                     French Polynesia, Guam, Hong Kong,  China, Japan, Macao (China), Nauru,
                     New Caledonia, New Zealand, Northern Mariana Islands, Republic of Korea, Singapore</li>
                </ul>
               <strong>Other Asia-Pacific groupings</strong>
               <br>
               Within Asia and the Pacific, the following groupings
               are also presented in the database:
               <ul class="list-unstyled">
                 <li><strong>Landlocked developing countries: (LLDCs): </strong>Afghanistan, Armenia, Azerbaijan,
                    Bhutan, Kazakhstan, Kyrgyzstan, Lao People’s Democratic Republic, Mongolia, Nepal,
                     Tajikistan, Turkmenistan, Uzbekistan </li>
                <li><strong>Least developed countries (LDCs): </strong>Afghanistan, Bangladesh, Bhutan,
                  Cambodia, Kiribati, Lao PDR, Myanmar, Nepal, Solomon Islands, Timor-Leste, Tuvalu,
                   Vanuatu</li>
                <li><strong>Association of Southeast Asian Nations (ASEAN): </strong> Brunei Darussalam, Cambodia,
                  Indonesia, Lao PDR, Malaysia, Myanmar, Philippines, Singapore, Thailand, Viet Nam</li>
                <li><strong>Economic Cooperation Organization (ECO): </strong>Afghanistan, Azerbaijan,
                   Iran (Islamic Republic of ), Kazakhstan, Kyrgyzstan, Pakistan, Tajikistan,
                    Turkey, Turkmenistan, Uzbekistan</li>
                 <li><strong>South Asian Association for Regional Cooperation (SAARC): </strong>Afghanistan, Bangladesh, Bhutan,
                    India, Maldives, Nepal, Pakistan, Sri Lanka</li>
               </ul>
               <strong>Regions of the world</strong>
               <br>
               For comparative purposes, aggregates are also presented Africa, Latin America and Caribbean,
               Europe, North America, and other countries.
               <br><br>
               <a class="btn btn-info" href="src/js/templates/methodDefinition/Data/Country_grouping_1Dec2016.xlsx" target="_blank">Download list</a>
               <br><br>
               </p>
           </div>
        </div>
      </div>
 </div>
  <br><br><br><br>
</div>
<br><br><br><br>
