<div class="print">
<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/cou_{{country_id}}.png"  class="thumbnail" alt="{{country_name}}"  width="100" height="56"/></div>
    <div class="col-md-5"><h1>&emsp;{{country_name}}</h1></div>
    <div class="col-md-6">
    </div>
  </div>
</div>
<div class="row">
  <div class="card-columns">
    <div class="col-md-6">
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/10.png" alt="demographics" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Demographic Trends</h4>
          <div class="container-fluid">
            <table  id="demog_table" class="table table-striped">
            </table>
          </div>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/30.png" alt="education" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Education</h4>
          <div class="container-fluid">
            <table  id="education_table" class="table table-striped">
            </table>
          </div>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/50.png" alt="gender" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Gender</h4>
       <div class="container-fluid">
         <table  id="gender_table" class="table table-striped">
         </table>
       </div>
      </div>
    </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/70.png" alt="disaster" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Disasters</h4>
          <div class="container-fluid">
            <table  id="disaster_table" class="table table-striped">
            </table>
          </div>
      </div>
    </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/90.png" alt="gdp" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;GDP</h4>
          <div class="container-fluid">
            <table  id="gdp_table" class="table table-striped">
            </table>
            <br><br>
            <div id="gdp_title"></div>
            <div id="gdp_graph"></div>
          </div>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/110.png" alt="trade" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Trade</h4>
          <table  id="trade_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/130.png" alt="sti" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Science Technology and Innovations</h4>
          <table  id="sti_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/150.png" alt="governance" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Governance</h4>
          <table  id="governance_table" class="table table-striped">
          </table>
       </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/20.png" alt="health" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Health</h4>
         <div class="container-fluid">
           <table  id="health_table" class="table table-striped">
           </table>
         </div>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/40.png" alt="poverty" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Poverty</h4>
       <div class="container-fluid">
         <table  id="poverty_table" class="table table-striped">
         </table>
       </div>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/60.png" alt="energy" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Energy and Natural Resources</h4>
          <table  id="energy_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/80.png" alt="environment" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Environment</h4>
          <table  id="environment_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/100.png" alt="labour" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Labour</h4>
          <table  id="labour_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/120.png" alt="financing" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Financing</h4>
          <table  id="financing_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/140.png" alt="connectivity" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Connectivity</h4>
          <table  id="connectivity_table" class="table table-striped">
          </table>
       </div>
      </div>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/160.png" alt="insecurity" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Insecurity</h4>
          <table  id="insecurity_table" class="table table-striped">
          </table>
       </div>
      </div>
      <br></br>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-3 pull-right">
    <a id ="printPage" class="btn btn-info btn-block">
    Print Profile
    </a>
  </div>
  <br></br>
</div>
