<div class="container-fluid">
    <div class="row">
        <span class="selected-country">SELECTED:</span><label class="map-selected-country"></label>

        <div id="map-container-donwload-microdata" style="height: 70%; width: 95% ;position:absolute; left:2.5%;"></div>
    </div>
</div>

