<div class="container-fluid">
    <div class="row">
        <div class="gift-header survey-timerange-header">
            <div class="gift-label survey-timerange-header-label">Time range</div>
        </div>
        <div class="col-xs-12 timerange-box"> <!-- Timerange of the survey -->
            <div class="gift-container survey-timerange-container">

                <br><br>

                <div class="gift-content survey-timerange-content">
                    <div id="survey-timerange-container"/>
                </div>
            </div>
        </div>
        <br><br><br><br><br>
        <div class="gift-header survey-checkbox-header">
            <div class="gift-label survey-checkbox-header-label">Additional characteristics</div>
        </div>
        <br>

        <div class="col-xs-12"><!-- Additional characteristics -->
            <div class="gift-container survey-checkbox-container">



                <div class="gift-content survey-checkbox-content">
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="radio">
                                <input id="survey-addChars-national" type="radio" name="addCharsNational" value="value1"
                                       ><label for="survey-addChars-national">Only National</label>
                            </div>
                        </div>
                        <div class="col-xs-5">

                            <div class="radio">
                                <input id="survey-addChars-subnational" type="radio" name="addCharsNational" value="value2"><label
                                    for="survey-addChars-subnational">Only Sub-National</label>
                            </div>
                        </div>
                        <div class="col-xs-2">

                            <div class="radio">
                                <input id="survey-addChars-noNat" type="radio" name="addCharsNational" value="null" checked><label
                                    for="survey-addChars-noNat">All</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-5">
                        <div class="radio">
                            <input id="survey-addChars-rural" type="radio" name="addCharsUrban" value="rural"><label
                                for="survey-addChars-rural">Only Rural</label>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="radio">
                            <input id="survey-addChars-urban" type="radio" name="addCharsUrban" value="urban"><label
                                for="survey-addChars-urban">Only Urban</label>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <div class="radio">
                            <input id="survey-addChars-noUrban" type="radio" name="addCharsUrban" value="null" checked><label
                                for="survey-addChars-noUrban">All</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>