<div class="col-md-12">
<label style="font-size:16px;font-weight:none;display: block;text-align: center;">
  Serve Your Statistical Data Need By Exploring ESCAP Statistical Domains
</label>
</div>
 <!-- Domani Selector -->

 <div class="row">
   <div class="card-columns">
     <div class="col-sm-3">
       <div class="card">
         <div class="card-text">
             <h4 class="card-title" style="font-size: 20px;text-align: left;">Demographic Trends</h4>
              <a href="#data/10">
                <img src="src/images/escap/10.png" alt="demographics" width="100" height="100" />
              </a>
              <br>
              <p>Contains indicators on population size and age structure,
                life expectancy, sex ratios, fertility, CRVS, migration and urbanization</p>
              <br><br>
          </div>
       </div>
       <div class="card">
         <div class="card-text">
             <h4 class="card-title" style="font-size: 20px;text-align: left;">Gender</h4>
             <a href="#data/50">
               <img src="src/images/escap/50.png" alt="gender" width="100" height="100" />
             </a>
              <br>
              <p>Contains indicators on women employment and representaion of
                women in parliaments, women rights and early marriage.</p>
              <br><br>
          </div>
       </div>
       <div class="card">
         <div class="card-text">
             <h4 class="card-title" style="font-size: 20px;text-align: left;">GDP</h4>
             <a href="#data/90">
               <img src="src/images/escap/90.png" alt="gdp" width="100" height="100" />
             </a>
              <br>
              <p>Contains indicators on GDP by expenditure and by sectors incurrent
                and constant US dollars, GNI, and per capita.</p>
              <br><br>
          </div>
       </div>
       <div class="card">
         <div class="card-text">
             <h4 class="card-title" style="font-size: 20px;text-align: left;">Science Technology and Innovation</h4>
              <a href="#data/130">
                <img src="src/images/escap/130.png" alt="sti" width="100" height="100" />
              </a>
              <br>
              <p>Contains indicators on spending on reasearch and development,
                number of researchers.</p>
              <br><br>
          </div>
       </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;text-align: left;">Health</h4>
             <a href="#data/20">
               <img src="src/images/escap/20.png" alt="health" width="100" height="100" />
             </a>
             <br>
             <p>Contains indicators on child and maternal health; HIV, malaria and tuberculosis and other causes of deaths;
               financial and human resources for health and social protection.</p>
             <br><br>
         </div>
      </div>
      <div class="card">
        <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;text-align: left;">Energy and Natural Resources</h4>
            <a href="#data/60">
              <img src="src/images/escap/60.png" alt="energy" width="100" height="100" />
            </a>
             <br>
             <p>Contains indicators on enrgy supply and final consumption, electricity production, renewable energy,
               domestic material and material footprint, water availability and use, wastewater.</p>
             <br><br>
         </div>
      </div>
      <div class="card">
        <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;text-align: left;">Labour</h4>
            <a href="#data/100">
              <img src="src/images/escap/100.png" alt="labour" width="100" height="100" />
            </a>
             <br>
             <p>
               Contains indicators on employment and unemployment, and working poor.
             </p>
             <br><br>
         </div>
      </div>
      <div class="card">
        <div class="card-text">
            <h4 class="card-title" style="font-size: 20px;text-align: left;">Connectivity</h4>
            <a href="#data/140">
              <img src="src/images/escap/140.png" alt="connectivity" width="100" height="100" />
            </a>
             <br>
             <p>Contains indicators on transport (railway, port container, air transport) and road traffic deaths,
               ICT (internet and mobile phone) and tourism</p>
             <br><br>
         </div>
      </div>
  </div>
   <div class="col-sm-3">
     <div class="card">
       <div class="card-text">
           <h4 class="card-title" style="font-size: 20px;text-align: left;">Education</h4>
           <a href="#data/30">
             <img src="src/images/escap/30.png" alt="education" width="100" height="100" />
           </a>
            <br>
            <p>Contains indicators on education (primary, secondary and tertiray),
              literacy and financial and human resources for education.</p>
            <br><br>
        </div>
     </div>
     <div class="card">
       <div class="card-text">
           <h4 class="card-title" style="font-size: 20px;text-align: left;">Disasters</h4>
           <a href="#data/70">
             <img src="src/images/escap/70.png" alt="disasters" width="100" height="100" />
           </a>
            <br>
            <p>Contains indicators on people affected and economic damages from natural disasters by type of disaster:
               climatological, geophysical, hyrdological, meteorological</p>
            <br><br>
        </div>
     </div>
     <div class="card">
       <div class="card-text">
           <h4 class="card-title" style="font-size: 20px;text-align: left;">Trade</h4>
           <a href="#data/110">
             <img src="src/images/escap/110.png" alt="tarde" width="100" height="100" />
           </a>
            <br>
            <p>Contains indicators on merchandise imports and exports by SITC class;
              imports and exports of commercial services, intra-regional trade and tariffs</p>
            <br><br>
        </div>
     </div>
     <div class="card">
       <div class="card-text">
           <h4 class="card-title" style="font-size: 20px;text-align: left;">Governance</h4>
           <a href="#data/150">
             <img src="src/images/escap/150.png" alt="governance" width="100" height="100" />
           </a>
            <br>
            <p>Contains indicators on human right institution, illicit financial flows.</p>
            <br><br>
        </div>
     </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-text">
          <h4 class="card-title" style="font-size: 20px;text-align: left;">Poverty</h4>
          <a href="#data/40">
            <img src="src/images/escap/40.png" alt="poverty" width="100" height="100" />
          </a>
           <br>
           <p>Contains indicators on poverty and inquealities, access to water and sanitation; and food security.</p>
           <br><br>
       </div>
    </div>
    <div class="card">
      <div class="card-text">
          <h4 class="card-title" style="font-size: 20px;text-align: left;">Environment</h4>
          <a href="#data/80">
            <img src="src/images/escap/80.png" alt="environment" width="100" height="100" />
          </a>
           <br>
           <p>Contains indicators on greenhouse gases emissions by sources,
              on selected pollutants, on threatenened species, and on protected
              areas and forests.</p>
           <br><br>
       </div>
    </div>
    <div class="card">
      <div class="card-text">
          <h4 class="card-title" style="font-size: 20px;text-align: left;">Financing</h4>
          <a href="#data/120">
            <img src="src/images/escap/120.png" alt="financing" width="100" height="100" />
          </a>
           <br>
           <p>Contains indicators on FDI, ODA, personal remittances, debt,
             and on fiscal balances and monetary measures</p>
           <br><br>
       </div>
    </div>
    <div class="card">
      <div class="card-text">
          <h4 class="card-title" style="font-size: 20px;text-align: left;">Insecurity</h4>
          <a href="#data/160">
            <img src="src/images/escap/160.png" alt="insecurity" width="100" height="100" />
          </a>
           <br>
          <p>Contains indicators on homicide, persons in prison.</p>
           <br><br>
       </div>
    </div>
 </div>
</div>
 <br><br><br><br>
</div>
 <br><br><br><br>
