<h1>{{title}}</h1>


<div id="consumption_map_wrap">
	<div id="consumption_map" style="height:400px;">
	</div>
	<br />
	<label>Legend:</label><br />
	<ul id="consumption_map_legend" class="list-group text-primary">
		{{#each legend_items}}
			<li class="list-group-item text-primary">
			<i class="label label-{{className}} text-primary">{{code}}</i>
				{{title}}
			</li>
		{{/each}}
	</ul>
</div>


<br /><br />
