<div class="container-fluid">
    <div class="row">
        <label class="map-selected-country"></label>
        <div id="map-container-donwload-microdata" style="height: 74%; width: 95% ;position:absolute"></div>
    </div>
</div>

