<div class="row">
    <div class="col-xs-6"> <!-- Timerange of the survey -->
        <div class="gift-container survey-timerange-container">
            <div class="gift-header survey-timerange-header">
                <div class="gift-label survey-timerange-header-label">Time range</div>
            </div>
            <div class="gift-holder survey-timerange-holder">
                <div id="survey-timerange-container"/>
            </div>
        </div>
    </div>

    <div class="col-xs-6"><!-- Additional characteristics -->
        <div class="gift-container survey-checkbox-container">
            <div class="gift-header survey-checkbox-header">
                <div class="gift-label survey-checkbox-header-label">Additional characteristics</div>
            </div>
            <div class="gift-holder survey-checkbox-holder">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="radio">
                            <input id="survey-addChars-val1" type="radio" name="addCharsRadio" value="value1"
                                   checked><label for="survey-addChars-val1">National</label>
                        </div>
                        <div class="radio">
                            <input id="survey-addChars-val2" type="radio" name="addCharsRadio" value="value2"><label
                                for="survey-addChars-val2">Sub-National</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <input id="survey-addChars-val3" type="radio" name="addCharsRadio" value="value3"><label
                                for="survey-addChars-val3">Rural</label>
                        </div>
                        <div class="radio">
                            <input id="survey-addChars-val4" type="radio" name="addCharsRadio" value="value4"><label
                                for="survey-addChars-val4">Urban</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>