<div class="row">
    <div class="col-xs-6">
        <div class="survey-timerange-container">
            <div class="survey-timerange-header">
                <div class="survey-timerange-header-label">Time range</div>
                <div class="survey-timerange-holder">
                    <div id="survey-timerange-container"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div id="survey-checkbox-container"/>
        <div class="survey-checkbox-header">
            <div class="survey-checkbox-header-label">Additional characteristics</div>
            <div class="survey-checkbox-holder">
                <div class="row">
                    <div class="col-xs-6">

                       <div class="radio">
                            <input id="survey-addChars-val1" type="radio" name="addCharsRadio" value="value1" checked><label for="survey-addChars-val1" >National</label>
                        </div>
                        <div class="radio">
                           <input id="survey-addChars-val2" type="radio" name="addCharsRadio" value="value2"><label for="survey-addChars-val2">Sub-National</label>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="radio">
                            <input id="survey-addChars-val3" type="radio" name="addCharsRadio" value="value3"><label for="survey-addChars-val3">Rural</label>
                        </div>
                        <div class="radio">
                           <input id="survey-addChars-val4" type="radio" name="addCharsRadio" value="value4"><label for="survey-addChars-val4">Urban</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
