/* About */

.sidebar-box{
  background-color: $box-bg;
  //padding: 0 15px;
  margin-bottom: 30px;
  
  >h3{
    margin-top: 0;
    background-color: $fx-cool-blue;
    padding: 5px 15px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
  }
.sidebar-box-content{
  padding: 15px;

  h3{margin-top:0}

}



}

.collaborators-list{
  li{
    margin-bottom: 15px;
    font-weight: 500;
    position: relative;
  padding-bottom: 10px;


    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $fenix-light-hr;
    }
  }
}

.user-container{
  padding-left: 90px;

  h3{
    margin-bottom:0;
    color: $fx-cool-blue-alt;
  }

  p{
    margin-bottom:5px;
  }

.division{
  font-weight: 500;
}

}

  #pauline-profile {

    background-image: url(../../src/images/about/photo_pauline.png);
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 15px;
  }



  #catherine-profile {
    background-image: url(../../src/images/about/photo_catherine.jpg);
    background-size: contain;
    width: 60px;
    height: 60px;
    position: absolute;
    left: 15px;
  }
