/* DASHBOARD PAGE */

.fx-filter-form-module {
  width: 25%;
  padding: 0 10px 0 0;
  margin-top: 5px;
}

.fx-filter-label{
  text-transform: uppercase;
  margin-bottom: 5px;
 font-size: 10px;
  font-weight: 500;
}
