/* Uneca data management */

.data-mng-secondary-menu-container{


  .container{
    background-color: transparent;

  }
}



#data-mng-menu-container .fx-menu{
  background-color: transparent;
  border: 1px solid $fenix-light-hr;
}