/* Download Section */

.leaflet-container{
  font-family: Roboto;
}

.selected-country{
  margin-bottom:7px;
  margin-right:3px;
  display: inline-block;
}

.map-selected-country{
  font-weight: 500;
  color: $fx-cool-blue-alt;
}

.checkbox label, .radio label{
  padding-left: 0;
}

input[type="radio"] + label:before{
  position: absolute;
  top: 2px;
  left: -12px;
}

input[type="checkbox"] + label:before{
  position: absolute;
  top: 2px;
  left: -12px;
}

.timerange-box{
  border: 1px solid $fenix-light-gray;
  margin-top: 5px;
  padding-bottom: 10px;
}

.only-label{
  padding-left: 0;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 8px;
  padding-top: 15px;
}

.label-divide{
position: relative;

  &:before{
    content: '';
    position: absolute;
    height: 50%;
    right: 0;
    top: 25%;
    width: 1px;
    background-color: $fenix-light-hr;
  }

}

.label-first{
  padding-left: 25px;
}

.label-last{
  padding-left: 25px;
}

.population-age-range-content{
  .checkbox, .radio{
    margin-bottom: 0;
  }

  .timerange-box{
    padding-bottom: 5px;
    padding-top: 10px;
  }

}
.displayNone {
  display: none;
}
