/* Homepage */



[data-page='home'] {
  .breadcrumb {
    opacity: 0;
  }
}

  .db-updates-list-holder{
    height: 400px;
    overflow-y: scroll;
  }

  .db-updates-list {
    list-style: none;
    padding-left: 0;
    padding-right: 15px;

    li {
      position: relative;
      padding: 15px 0 15px 70px;
      border-bottom: 1px solid $fenix-light-hr;

      &:last-child{
        border-bottom-color: transparent;
      }

      h3 {
        margin: 0;
        color: $fenix-text;
      }

      .db-update-ico {
        position: absolute;
        left: 0;
        width: 60px;
        text-align: center;
        font-size: 45px;
      }

      .db-update-country {
        font: $fx-text-h4;
        color: $fenix-secondary-text;
      }

      .db-update-date {
        font: $fx-text-h4;
        color: $fx-cool-blue;
      }

      .db-update-link {
        font: $fx-text-h4;
        color: $fenix-text;
      }

    }

  }




