/* Homepage */

[data-page='home'] {
  .breadcrumb {
    opacity: 0;
  }
}

.db-updates-container{
  border: 1px solid $fenix-light-hr;

  .db-updates-header{
    padding: 5px 10px;
    background-color: $superlight-gray;
  }

  .title{
    margin: 0;

  }

  .db-updates-list-holder {
    height: 300px; /* Just to be similar to the news height (including the db header) */
    overflow-y: scroll;

  }

}


#main-container{
  overflow: hidden; //Very strange bug occurred in chrome OSX
}

.gift-containers-sliders-home{
  height: 320px;
}

.gift-containers-home{
  height: 330px;
}

.home-gallery-item{
  height: 320px;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;

}

//.item{
//  opacity: 0;
//}


.growing-ico{
  height: 50px;
  width: 45px;
  background-image: url(../../src/images/nutrition-ico.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  display: block;
}

.db-updates-list {
  list-style: none;
  padding-left: 0;
  padding-right: 15px;

  li {
    position: relative;
    padding: 15px 0 15px 15px;
    border-bottom: 1px solid $fenix-light-hr;

    &:last-child {
      border-bottom-color: transparent;
    }

    h3 {
      margin: 0;
      color: $fenix-text;
    }

    .db-update-ico {
      position: absolute;
      left: 0;
      width: 60px;
      text-align: center;
      font-size: 45px;
    }

    .db-update-country {
      font: $fx-text-h4;
      color: $fenix-secondary-text;
    }

    .db-update-date {
      font: $fx-text-h4;
      color: $fx-cool-blue-alt;
    }

    .db-update-link {
      font: $fx-text-h4;
      color: $fenix-text;
    }

  }

}


.home-event{
  h2{
    font-weight: 500;
    color: $fx-cool-blue-alt;
    text-transform: none;

  }

  p{
    padding: 0 10px;
  }
}

.home-news-container {
  height: 320px;
  background-image: url(../../src/images/home-news.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 20% 50px 15px 15px;

  .home-news-header {
    background-color: $fx-cool-blue;
    display: inline-block;
    padding: 10px;
    h1 {
      margin: 0
    }
  }

  .home-news-holder {
    background-color: white;
    padding: 10px 10px 5px 10px;
  }

  .home-news-footer {
    background-color: white;
    padding: 5px 10px 10px 10px;
    a {
      color: $fenix-text;
    }
  }

}

.contacts-collaborations-holder {

  .swiper-wrapper {
    min-height: 300px;

    .swiper-slide {
      text-align: center;
    }

  }
}

/* Fast Links */

.fast-link-container {

  .fast-link-header {
    height: 25px;
    border-bottom: 1px solid $fenix-light-hr;
    margin-bottom: 15px;

    h3 {
      margin-top: 0;
    }

  }

}

.home-tiles {
  height: 140px;
  h2{
    color: white;
    margin: 0;

    span{
      font-size: 40px;
    }
  }

  a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 25px;


  }

  a:link,
  a:visited,
  a:hover,
  a:focus,
  a:active{
    text-decoration: none;
  }

  &.food-cons{
    padding: 0 15px 15px 15px;
    a{background-color: #2f879a;}

  }

  &.food-safe{
    padding: 0 15px 15px 15px;
    a{background-color: #2f9a8f; span{position: relative; left: -6px;}}
  }

  &.food-nutr{
    padding: 15px 15px 0 15px;
    a{background-color: #2f699a;}
  }

  &.food-envi{
    padding: 15px 15px 0 15px;
    a{background-color: #e2e3e3; span{position: relative; left: -6px;}}
  }


}

.coming{

  &:before{
    content: 'COMING SOON';
    display: inline-block;
    background-color: #8e9292;
    color: white;
    font-size: 10px;
    padding: 5px 9px;
    position: absolute;
    right: 0;
    top: 0;

  }

}


/* Contacts */


.swiper-button-next, .swiper-button-prev{
  top:90%;
}

.swiper-pagination{
  left: 50%;
  @include fx-transfor-me(translateX(-50%));
  top: 88%;
}

.swiper-pagination-bullet{
  opacity: 1;
  margin: 3px;

  background-color: white;
  border: 1px solid $fenix-light-hr;

  &.swiper-pagination-bullet-active{
    background-color: $fenix-light-hr;
  }

}


.swiper-button-next{
  background-image: url(../../src/css/img/arrow-right-off.svg);
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  right: 20%;

}

.swiper-button-prev{
  background-image: url(../../src/css/img/arrow-left-off.svg);
  -moz-background-size: auto;
  -webkit-background-size: auto;
  background-size: auto;
  left: 20%;
}


.contacts-collaborations-header, .contacts-people-header{
  h3{
    margin: 0;
  }

  height: 30px;
  border-bottom: 1px solid $fenix-light-hr;

}

.contacts-people-holder{
  h3{
    color: $fx-cool-blue-alt;
  }
}





/*//////////////////////////////////////////// Navbar Media queries */

/* Ipad */
@media (min-width: 768px) and (max-width: 990px) {

  .home-tiles {
    height: 140px;
    h2 {
      color: white;
      margin: 0;

      font-size: 16px;

    }
  }

}

/* Iphone */

@media (max-width: 767px) {

.swiper-slide{

  img{
    display: inline;
  }
}

  /* End of the iPhone media query*/

}
