.fx-catalog-modular-form-content {
  height: 240px !important;

  .jstree-holder {
    height: 187px;
  }

  #db-updates-list {
    height: 400px;
    overflow-y: scroll
  }
}

.search-geojson-list {
  width: 100%;
}

#codebook-table{

  thead, tbody, tr, td, th { display: block; }

  tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
  }

  thead th {
    height: 30px;

    /*text-align: left;*/
  }

  tbody {
    height: 250px;
    overflow-y: auto;
  }

  thead {
    /* fallback */
  }


  tbody td, thead th {
    width: 19.2%;
    float: left;
  }

}

