<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="intro-logo-holder col-sm-8">
        <!--{{text}}-->

        <img src="src/images/FAO_sede.jpg" class="img-responsive">

        <h2>1. Background</h2>

        <p>Data on individual food consumption are needed to better inform agricultural and food policies and
            programmes at global, national and sub-national level. Moreover, nutrition indicators expressed as nutrients
            are needed to inform nutrition sensitive agriculture and fortification policies. Nutrient food sources also
            need
            to be identified in order to develop food based dietary guidelines. Currently, at global level, most
            policies
            and programmes are informed by data related to the availability of food at national level (food supply data)
            or
            at household level (household survey data). It is the case for the global food-based nutrition indicators
            which
            appear in the SOFI publication (The State of Food Insecurity in the World) published annually by FAO and in
            the Millennium Development Goals. Current global food-based nutrition indicators would be strengthened if
            also
            gender sensitive data on individual food consumption were used.</p>


        <p>However, available individual food consumption data are extremely under-utilized mainly because they are not
            made publicly available in an appropriate dissemination
            platform and under a harmonised format that would allow assessing time and geographical trends.</p>

        <p>At FAO level, FAOSTAT is one of the ways the organization accomplishes its mission of improving data
            collection and dissemination1. Through that online platform, users can freely and easily access data for 245
            countries and
            35 regional areas from 1961 to the most recent year available. Enhanced features such as browse and analysis
            of data and an advanced interactive data download are proposed by FAOSTAT. Available data include
            production, expenditure, supply, food security and many others but data on individual food consumption are
            still
            missing.</p>

        <h2>2. Objectives</h2>


        <p>FAO and WHO will work together to enrich FAOSTAT with a publicly available multipurpose global database
            obtained
            through the collation and harmonization of existing data collected within individual food consumption
            surveys
            conducted at national or sub-national level. This will contribute to increase the capacity of all
            stakeholders
            to monitor food consumption.</p>

        <h2>3. TEAM</h2>

        <div class="row">
            <div class="col-sm-6 user-container">
                <div class="user-image">
                   <div class="profile"></div>
                    <h3>Pauline Allemand</h3>
                    <p>International Nutrition Consultant</p>
                    <p class="division">FAO Nutrition Division (ESN)</p>
                </div>
            </div>
            <div class="col-sm-6 user-container">
                <div class="user-image">
                    <div class="profile"></div>
                    <h3>Catherine Leclercq</h3>
                    <p>FAO Nutrition Officer</p>
                    <p class="division">FAO Nutrition Division (ESN)</p>
                </div>

            </div>


        </div>
        <br><br>

    </div>
    <div class="col-sm-4">
       <div class="sidebar-box">
           <h3>KEY DOCUMENTS</h3>

           <div class="sidebar-box-content">
               <ul>
                   <li>Lorem ipsum dolor sit amet</li>
                   <li>Cras convallis ultricies imperdie</li>
                   <li>Morbi euismod, orci</li>
                   <li>Pellentesque imperdiet</li>
                   <li>Etiam hendrerit congue</li>
               </ul>

           </div>

       </div>



        <div class="sidebar-box">
            <h3>CONTACT US</h3>

            <div class="sidebar-box-content">
                <h3>FAO NUTRITION DIVISION</h3>
                <p>Viale delle Terme di Caracalla<br>
                    00153 Rome, Italy</p>


                <p>Headquarters<br>
                    Viale delle Terme di Caracalla<br>
                    00153 Rome, Italy<br>
                    Tel:(+39) 06 57051<br>
                    e-mail：FAO-HQ@fao.org</p>

                <p>General media inquiries<br>
                    Tel: (+39) 06 570 53625<br>
                    e-mail: FAO-Newsroom@fao.org</p>
            </div>


        </div>


    </div>
</div>

<br><br><br><br>