<div class="print" id="content">
<div class="row">
  <div class="col-md-12">
    <div class="col-md-11"><img src="src/images/escap/cou_{{country_id}}.png"   id="flag" class="thumbnail" alt="{{country_name}}"  width="100" height="56" style="display:inline-block;"/>
    <h1 style="display:inline-block;">&emsp;{{country_name}}</h1></div>
  </div>
</div>
<div class="row">
  <div class="card-columns">
    <div class="col-md-6">
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/10.png" id="img_10" alt="demographics" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Demographic Trends</h4>
          <div class="container-fluid">
            <table  id="demog_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
          </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/30.png" id="img_30" alt="education" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Education</h4>
          <div class="container-fluid">
            <table  id="education_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
          </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/50.png" id="img_50" alt="gender" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Gender</h4>
       <div class="container-fluid">
         <table  id="gender_table" class="table table-striped">
           <colgroup>
             <col width="80%">
             <col width="10%">
             <col width="10%">
          </colgroup>
         </table>
         <br>
       </div>
      </div>
    </div>
    <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/70.png" id="img_70" alt="disaster" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Disasters</h4>
          <div class="container-fluid">
            <table  id="disaster_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
          </div>
      </div>
    </div>
    <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/90.png" id="img_90" alt="gdp" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;GDP</h4>
          <div class="container-fluid">
            <table  id="gdp_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br><br>
             <div id="gdp_title"></div>
             <div id="gdp_graph"></div>
             <br>
          </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/110.png" id="img_110" alt="trade" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Trade</h4>
          <div class="container-fluid">
            <table  id="trade_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br><br>
            <div id="trade_title"></div>
            <div id="trade_graph"></div>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/130.png" id="img_130" alt="sti" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Science Technology and Innovations</h4>
          <div class="container-fluid">
            <table  id="sti_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/150.png" id="img_150" alt="governance" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Governance</h4>
          <div class="container-fluid">
            <table  id="governance_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
          </div>
       </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/20.png" id="img_20" alt="health" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Health</h4>
         <div class="container-fluid">
           <table  id="health_table" class="table table-striped">
             <colgroup>
               <col width="80%">
               <col width="10%">
               <col width="10%">
            </colgroup>
           </table>
           <br><br>
           <div id="expectancy_title"></div>
           <div id="expectancy_graph"></div>
           <br>
         </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/40.png" id="img_40" alt="poverty" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Poverty</h4>
       <div class="container-fluid">
         <table  id="poverty_table" class="table table-striped">
           <colgroup>
             <col width="80%">
             <col width="10%">
             <col width="10%">
          </colgroup>
         </table>
         <br>
       </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/60.png" id="img_60" alt="energy" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Energy and Natural Resources</h4>
          <div class="container-fluid">
            <table  id="energy_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/80.png" id="img_80" alt="environment" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Environment</h4>
          <div class="container-fluid">
            <table  id="environment_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/100.png" id="img_100" alt="labour" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Labour</h4>
          <div class="container-fluid">
            <table  id="labour_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/120.png" id="img_120" alt="financing" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Financing</h4>
          <div class="container-fluid">
            <table  id="financing_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/140.png" id="img_140" alt="connectivity" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Connectivity</h4>
          <div class="container-fluid">
            <table  id="connectivity_table" class="table table-striped">
              <colgroup>
                <col width="80%">
                <col width="10%">
                <col width="10%">
             </colgroup>
            </table>
            <br>
        </div>
       </div>
      </div>
      <br>
      <div class="card">
        <div class="card-text">
          &nbsp;<img src="src/images/escap/160.png" id="img_160" alt="insecurity" width="50" height="50" style="display: inline-block;"/>
          <h4 class="card-title" style="font-size: 20px;text-align: left; display: inline-block;">&nbsp;Insecurity</h4>
          <div class="container-fluid">
          <table  id="insecurity_table" class="table table-striped">
            <colgroup>
              <col width="80%">
              <col width="10%">
              <col width="10%">
           </colgroup>
          </table>
          <br>
        </div>
       </div>
      </div>
      <br></br>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div id="editor" class="col-md-3 pull-right">
    <a id="profile" class=" btn btn-info btn-block">Generate PDF</a>
  </div>
  <br></br>
</div>
