<div class="row">
  <div class="col-md-12">
    <br>
    <div class="col-md-1"><img src="src/images/escap/{{domain_id}}.png"  class="thumbnail" alt="{{country_name}}"  width="100" height="100"/></div>
    <div class="col-md-5"><h1>&emsp;{{domain_name}}</h1></div>
    <div class="col-md-6">
    </div>
  </div>
</div>
