<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <div id="codebook-table">
                <table class="table">
                    <thead>
                        <th>Column</th>
                        <th>Label</th>
                        <th>Description</th>
                    </thead>

                    <tbody>
                        {{each data}}
                            <tr>
                                {{each this}}
                            </tr>

                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br><hr><br>

    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="src/images/description/image001.png">
        </div>
    </div><br><hr><br>

    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="src/images/description/image003.png">
        </div>
    </div><br><hr><br>


    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="src/images/description/image004.png">
        </div>
    </div><br><hr><br>

    <div class="row">
        <div class="col-xs-12">
            <img class="img-responsive" src="src/images/description/image012.png">
        </div>
    </div><br><hr><br>
</div>