<div class="fluid-container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Codebook table</h1>
            <div id="codebook-table">
                <table class="table">
                    <thead>
                        <th>Column</th>
                        <th>Label</th>
                        <th>Description</th>
                    </thead>
                    <tbody>
                        {{#each data}}
                            <tr>
                                <td>{{firstindex}}</td>
                                <td>{{secondindex}}</td>
                                <td>{{thirdindex}}</td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div><br><hr><br>

    <div class="row">
        <div class="col-xs-10">
            <h1>Distribution of subjects by age range</h1>
            <div id="item-description-1"></div>
        </div>
    </div><br><hr><br>

    <div class="row">
        <div class="col-xs-10">
            <h1>Distribution of subjects by gender</h1>
            <div id="item-description-2"></div>
        </div>
    </div><br><hr><br>



    <div class="row">
        <div class="col-xs-10">
            <h1>Distribution of subjects by special condition</h1>
            <div id="item-description-3"></div>
        </div>
    </div><br><hr><br>
</div>