<div class="container-fluid">
    <div class="row">
        <h1>{{title}}</h1>
        <hr>
        <div class="row">
            <div class="intro-logo-holder col-xs-12">
                {{text}}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <button id="getValues">GEt Values</button>
            </div>
            <div class="col-xs-6">
                <button id="addComponent">add component</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="fx-catalog-container"></div>
            </div>
        </div>
    </div>
</div>
