<div class="container-fluid">


    <div class="row">
        <div class="col-xs-12">
            <h1>{{title}}</h1>
            <hr>
        </div>
    </div>

    <button type="button" class="btn btn-default open-overlay">OPEN CATALOG</button>
    <br><br>


    <!-- Page Content -->
    <div class="page-content">
        <!-- catalog overlay -->
        <div id="overlay">

            <div class="close-overlay"></div>

            <div class="overlay-content">
                <div id="fx-catalog-container"></div>
            </div>
        </div>

        <div id="gift-metadata-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Metadata Viewer</h4>
                    </div>
                    <div class="modal-body">
                        <div data-content="metadata-viewer-container"></div>
                    </div>
                    <div class="modal-footer">
                        FENIX Metadata
                    </div>



                </div>
            </div>
        </div>



        <div class="container-fluid">

            <!-- Open catalog btn and modules stack container-->
            <div class="row fx-catalog-toolbar">

                <div id='fx-modules-stack-container' class="col-xs-6"></div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="fx-analysis-container"></div>
                </div>
            </div>


        </div>

    </div>


</div>
