<h1>{{title}}</h1>
<hr>
<div class="row">
    <div class="col-xs-3">
        <ul class="ready-to-use-list list-unstyled">
            {{#each views}}
            <li>
                <a href="{{ isI18n link }}"><span> {{ isI18n title }}</span></a>
            {{/each}}
        </li>
        </ul>
    </div>
    <div class="col-xs-9">
      <div id="ready-container" class="ready-container"></div>
    </div>
</div>
